.navbar {
    background: linear-gradient(to right,#170d54,#3f1c6b,#522f7d,#633899,#5b4d6b);
  }
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    font-family: math;
    color: black;
  }
  
  
  .navbar-nav {
    font-family: math;
    font-size: 20px;
    color: black;
    
  }
  
  .navbar-nav li a {
    background-color: transparent;
    color: white;
    font-weight: bold;
  }
  .navbar-nav li a:hover {
    color: black;
    border-bottom: 2px solid black;
  }
  .navbar .navbar-toggler {
    color: black;
    border: 3px solid black;
  }
  
  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    width: 50px;
    height: 40px;
  }
  
  .nav-item .active {
    color: gold;
  }
  .nav-item .nonactive {
    color: white;
  }
  
  .nav-item a {
    padding-right: 50px;
  }
  
  .nav-link {
    display: block;
    margin-left: 3px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out;
  }
  
  .dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: black;
    text-align: left;
    list-style: none;
    background: linear-gradient(to right,#170d54,#3f1c6b,#522f7d,#633899,#5b4d6b);
    background-clip: padding-box;
    border-radius: 25px;
    border: 5px solid yellow;
  }
  
  #port
  {
    color: white;
  }
  #port:hover
  {
    color: black;
  }
  
  
  
  .submenu-left {
    background: linear-gradient(to right,#170d54,#3f1c6b,#522f7d,#633899,#5b4d6b);
    border-radius: 25px;
    border: 5px solid yellow;
  }
  
  .dropdown-menu .dropdown-item {
    background: linear-gradient(to right,#170d54,#3f1c6b,#522f7d,#633899,#5b4d6b);
    color: white;
    margin-top: 3px;
  }
  .submenu-left li .dropdown-item {
    background: linear-gradient(to right,#170d54,#3f1c6b,#522f7d,#633899,#5b4d6b);
    margin-top: 3px;
  }
  
  .submenu-left li .active
  {
    color: black;
  }
  .submenu-left li  .nonactive
  {
    color: white;
  }
  
  .submenu-left li .dropdown-item:hover {
    border-radius: none;
    box-shadow: 0 0 5px yellow, 0 0 5px yellow;
  }
  
  .navbar-nav .dropdown-menu {
    left: -50px;
  }
  .dropdown-menu li {
    position: relative;
  }
  
  .dropdown-menu .submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
  }
  
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
  
  .dropdown-menu .submenu-left {
    right: auto;
  }
  
  @media only screen and (max-width: 800px) {
    .dropdown-menu .submenu {
      left: 25%;
      top: 0px;
    }
    .dropdown-menu .multi-menu {
      left: 95%;
    }
    .dropdown-menu .submenu-left {
      left: 48%;
    }
    .banner img{
      height: 250px;
    }
  }
h1
{
    color: black;
    text-decoration: underline;
    font-family: math;
}
p
{
    font-family: math;
}